* {
    box-sizing: border-box;
}

body {
    line-height: 1;
}

html {
    background-color: #f2e1bf;
    font-family: Avenir, sans-serif;
    color: brown;
    font-size: 14px;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    margin: 0;
}


#home-header {
    background-color: brown;
    width: 100vw;
    height: 350px;
}

#banner {
    width: 1150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}


.navbar {
    padding: 20px;
    font-size: 2.5em;
    font-family: "Brush Script MT", cursive; 
    text-align: center;
    padding: 0;
}


a {
    color: #5fbaba;
    padding: 30px;
}

.active {
    color: brown;
}

h1 {
    text-align: center;
    font-size: 3.5em;
    margin-top: 0;
}

#about-us__section {
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
}

#about-us {
    border-style: solid;
    padding: 40px;
    font-size: 1.3em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.gallery__img {
    width: 300px;
    height: 270px;
    border: 10px solid white;
}

.img-with-text {
    text-align: center;
    font-size: 1.4rem;
    padding: 30px;
}

.img-with-text p {
    width: 300px;
}
.img-with-text ul {
    list-style-type: none;
    text-align: left;
}

  
.main-container {
    display: flex;
    justify-content: center;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}



.form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.form__fieldset {
    margin: 40px;
    padding: 15px;
    border-color: brown;
    margin-left: auto;
    margin-right: auto;
}

.legend {
    font-size: 1.7em;
}

label {
    display: block;
    font-size: 1.3em;
    text-align: left;
    margin: 8px 8px 8px 0px;
}

.contactInfoInputs {
    margin: 20px;
}

.dessertOptions {
    margin: 20px;  
}

input {
    padding: 7px;
    font-size: 1.1em;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    box-shadow: 3px 3px 3px rgb(55,55,55);
    border-color: brown;
}

select {
    padding: 7px;
    font-size: 1.1em;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    box-shadow: 3px 3px 3px rgb(55,55,55);
    border-color: brown;
}

.formImage {
    width: 300px;
    height: 270px;
    margin: 20px;
}

#submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-color: brown;
    width: 200px;
    line-height: 25px;
    box-shadow: 3px 3px 3px rgb(55,55,55);
    font-size: 1.6em;
    font-weight: bold;
    color: brown;
    border-radius: .4em;
}

#submit:hover {
    cursor: pointer;
    color: rgb(255,255,255);
    background-color: brown;
}

.footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px; 
    padding: 50px;
}

@media screen and (max-width: 1150px) {
    #banner {
        width: 900px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
    }

    #home-header {
        background-color: brown;
        width: 100vw;
        height: 325px;
    }

    #about-us__section {
        width: 100vw;
        margin-left: auto;
        margin-right: auto;
    }
    
    #about-us {
        border-style: solid;
        padding: 40px;
        font-size: 1.3em;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5em;
    }

}

@media screen and (max-width: 900px) {
    #banner {
        width: 700px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
    }

    #home-header {
        background-color: brown;
        width: 100vw;
        height: 300px;
    }

    #about-us__section {
        width: 100vw;
        margin-left: auto;
        margin-right: auto;
    }
    
    #about-us {
        border-style: solid;
        padding: 40px;
        font-size: 1.3em;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5em;
    }

}

@media screen and (max-width: 700px) {
    #banner {
        width: 500px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
    }

    #home-header {
        background-color: brown;
        width: 100vw;
        height: 225px;
    }

    #about-us__section {
        width: 100vw;
        margin-left: auto;
        margin-right: auto;
    }
    
    #about-us {
        border-style: solid;
        padding: 40px;
        font-size: 1em;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5em;
    }

    h1 {
        text-align: center;
        font-size: 2.75em;
    }

}

@media screen and (max-width: 500px) {
    #banner {
        width: 375px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
    }

    #home-header {
        background-color: brown;
        width: 100vw;
        height: 175px;
    }

    h1 {
        text-align: center;
        font-size: 2.5em;
    }

    .main-container {
        display: flex;
        justify-content: center;
        width: 100vw;
        margin-left: auto;
        margin-right: auto;
    }

    a {
        color: #5fbaba;
        padding: 20px;
    }
}